:root {
    --grisBack: #2C2C2D;
    --textChico: 0.8em;
    --textMediano: 1em;
    --textoGrande: 3.4em;
    --textShadow: 0 5px 10px #3f4551;
}

.pagehome { background-color: var(--grisBack); }

* { box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    font-family: 'Anton', sans-serif;
    text-transform: uppercase; }

body {  
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start; }

h1 { width: 100%;
height: auto; 

position: relative;
z-index: 88;

letter-spacing: 3px;
font-size: var(--textChico);
margin-top: 15px;
text-shadow: var(--textShadow);

color: white;
text-align: center; }

.primerFondo { height: 100vh;
    width: 100%;
    opacity: 0.9;

    position: absolute;
    z-index: 11;

    top: 0px;
    left: 50%;
    transform: translateX(-50%);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; }

.contentBienvenido { width: 100%;
height: 60vh;

color: white;
text-align: center;

position: relative;
z-index: 55;

display: flex;
justify-content: center;
align-items: center; }

.contentBienvenido h2 { font-size: var(--textoGrande);
letter-spacing: 2.3px;
text-shadow: var(--textShadow);

position: fixed;

transition: 0.5s;
transition-property: opacity; }

/* animacion scroll */


/* c o n t e n t  f o r m u l a r i o */
/* c o n t e n t  f o r m u l a r i o */
/* c o n t e n t  f o r m u l a r i o */


.contentFormulario { width: 90%;
    height: auto; 
    padding: 10px 0px 15px 25px;

    position: fixed;
    z-index: 88;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);

    color: white;
    text-align: center;

    background-image: linear-gradient(to bottom right, #332B68, #3578A9, #332A68);
    box-shadow: 0px 30px 40px -15px #171723;
    border-radius: 10px; }


    .contentFormulario form { width: 100%;
    height: auto; }

    .contentFormulario form .textInput { width: 75%;
    background-color: transparent;
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: white;
    border-style: dotted;

    color: white;
    letter-spacing: 1px;
    font-size: 1.3em; }

    .contentFormulario form .textInput:focus-visible {   border-width: 1px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-color: rgb(222, 228, 238);
        border-style: dotted;
        outline: none; }

    .contentFormulario form .envioForm { width: 20%;
        height: 40px;
        background-color: transparent;
        border-width: 0px;
        color: white;
    
        position: relative; }
 
  

/* t e n d e n c i a s */
/* t e n d e n c i a s */
/* t e n d e n c i a s */


.contentTendencias { width: 80%;
    height: auto; 
    padding: 0px 30px 30px;

    position: relative;
    z-index: 55; 

    transition: 0.5s;
    transition-property: top;

    color: white;
    text-align: center;

    background-color: var(--grisBack);
    box-shadow: 0px 30px 40px 5px #171723;
    border-radius: 10px; }

    .contentTendencias.acercarTendencias { top: 0px; }

    .contentTendencias h3 { position: relative; }

    .contentTendencias h3, .contentCategorias .todasLasCategorias h3 { font-size: var(--textMediano);
    letter-spacing: 5px;
    margin: 20px auto 25px;
    color: white;
    text-shadow: 0px 6px 10px #2d3b32; }

    .contentTendencias .tendenciasMovie { width: 100%;
    height: auto;
    margin-bottom: 30px;
    
    position: relative; }

    .contentTendencias .tendenciasMovie p { 
        position: absolute;
        z-index: 88;
        left: 50%;
        top: 50%;

        font-size: var(--textMediano);
        letter-spacing: 1.5px;
        text-shadow: var(--textShadow);

        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.7s;
        transition-property: opacity;
     }

     .contentTendencias .tendenciasMovie:hover p { 
        opacity: 1;
     }

     
    .contentTendencias .tendenciasMovie img {
        width: 100%;
        height: auto;

        position: relative;
        z-index: 55;

        opacity: 1;
        transition: 0.7s;
        transition-property: opacity;

        border-radius: 10px;
    }

    .contentTendencias .tendenciasMovie:hover img {
        opacity: 0.5;
    }

    .slider { width: 100%; }

/* c o n t e n t  c a t e g o r i a s  */
/* c o n t e n t  c a t e g o r i a s  */
/* c o n t e n t  c a t e g o r i a s  */


.contentCategorias { width: 90%;
height: auto;
padding-bottom: 170px;

margin-top: 40px;
padding-top: 30px;

position: relative; }

.contentCategorias:before { content: "";
width: 100vw;
height: 100%;

position: absolute;
z-index: -1;
top: 0px;
left: 50%;
transform: translateX(-50%);
background-color: #485163; }

.contentCategorias .todasLasCategorias { width: 100%;
height: auto;

display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start; }

.contentCategorias .todasLasCategorias ul { width: 85%;
height: auto;

display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap; }

.contentCategorias .todasLasCategorias ul li { width: 45%;
color: white;
font-size: var(--textChico);
letter-spacing: 2px;
line-height: 250%;

position: relative; 
list-style-position: inside; }
 

.contentCategorias .todasLasCategorias ul li::marker {
    position: relative;
    left: 0px;
}

/* a j u s t e s  d e  e s t i l o  p a r a - M o v i e P a g e  */
/* a j u s t e s  d e  e s t i l o  p a r a - M o v i e P a g e  */

.pageDetail .primerFondo { position: relative;
order: 3; }

.pageDetail .contentBienvenido, .pageDetail .contentTendencias { display: none; } 

.pageDetail h1 { position: absolute;
top: 10px; }

.pageDetail .contentDetailsUnaPeli { width: 100%;
height: auto;

position: relative;
z-index: 1; }

    .pageDetail .contentDetailsUnaPeli .unDetail { width: 100%;
        height: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }

        .pageDetail .contentDetailsUnaPeli .unDetail img { width: 100%;
            height: auto; }

            .pageDetail .contentDetailsUnaPeli .unDetail .masDetalles { width: 85%;
            height: auto;
            padding: 15px 25px 25px;
            border-radius: 10px;

            position: relative;
            top: -100px;
            background-image: linear-gradient(to bottom right, #332B68, #3578A9, #332A68);
            color: white; }

            .pageDetail .contentDetailsUnaPeli .unDetail .masDetalles h3 { font-size: 2em;
                letter-spacing: 3px;
                text-align: center;
                margin-bottom: 10px; }

                .pageDetail .contentDetailsUnaPeli .unDetail .masDetalles p { margin-bottom: 10px;
                letter-spacing: 1px; }

                .pageDetail .contentDetailsUnaPeli .unDetail .masDetalles ul { padding-left: 30px;
                margin-bottom: 15px; }